<section class="about">
  <div class="about-top">
    <h2>ФИЗИКО-ТЕХНИЧЕСКИЙ ФАКУЛЬТЕТ</h2>
    <div class="stick"></div>
    <h1>КАФЕДРА ТРАНСПОРТА И ЛОГИСТИЧЕСКИХ СИСТЕМ</h1>
  </div>
  <div class="about-info">
    <div class="manager-info">
      <img src="/images/manager.png" alt="Manager" />
      <h2>Камзабеков Изат Мекенович</h2>
      <h3>заведующий кафедрой</h3>
      <span>
        Почта:<a href="mailto:ikamzabekov@mail.ru" class="email"
          >ikamzabekov@mail.ru</a
        ></span
      >
      <span> Номер: +77021757486</span>
    </div>
    <div class="department-info">
      <div class="stick-blue"></div>
      <div class="department-text">
        <p>
          Кафедра транспорта и логистических систем осуществляет подготовку
          специалистов для транспортной отрасли по программам бакалавриата и
          магистратуры. Студентам предлагается освоить учебные модули по
          транспортным услугам и автотранспортным средствам, магистрантам
          получить компетенции в сфере транспортной техники и технологии.
        </p>
        <p>
          Выпускники кафедры могут работать в сфере производства и эксплуатации
          и управлением транспортом, при наличии магистерской степени
          преподавать и заниматься научной деятельностью.
        </p>
        <p>
          Научные интересы кафедры связаны с изучением таких тем, как
          «Разработка теплогенераторной установки для обогрева промышленных
          объектов», «Установка получения тепловой энергии», «Разработка и
          исследование конструкции тягово-несущего органа крутонаклонного
          пластинчатого конвейера с линейными двигателями». Научные интересы
          кафедры связаны с изучением таких тем, как «Разработка
          теплогенераторной установки для обогрева промышленных объектов»,
          «Установка получения тепловой энергии», «Разработка и исследование
          конструкции тягово-несущего органа крутонаклонного пластинчатого
          конвейера с линейными двигателями».
        </p>
      </div>
    </div>
  </div>
</section>
