<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('./components/header.ejs') %>
    <main>
      <div class="container">
        <% if (isAdmin) { %>
        <div class="add-work-btn"><a href="/add-work">Добавить статью</a></div>
        <% } %> <%- include('./components/portfolio-list.ejs') %>
      </div>
    </main>
    <footer><%- include('./components/footer.ejs') %></footer>
    <script src="/script/script.js"></script>
  </body>
</html>
